<h1>
    Welcome to {{ title }}!
</h1>
<!-- <div class="fb-like" data-href="http://localhost:4200/" data-width="" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
<div class="fb-group" data-href="https://www.facebook.com/groups/kosocho/" data-width="280" data-show-social-context="true" data-show-metadata="false"></div>
<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="true"></div> -->

<!-- <button routerLink="/feed">home feed</button> -->
<button (click)="login()">login</button>
<!-- <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="true"></div> -->


<router-outlet></router-outlet>